<mat-toolbar color="primary">
  <ng-container *ngIf="rol != '' ">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
    <span>Registro de clientes</span>
    <span class="spacer"></span>
    <!-- Con routerLink nosotros le indicamos a donde queremos que se dirija al presionar el boton -->
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>
    <!-- <a *ngIf="rol != '' " mat-button routerLink="/admin">Admin</a> -->
</mat-toolbar>

<ng-template #viewLogout>
  <button mat-button [matMenuTriggerFor]="menu">
    <span>{{ username }}</span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>badge</mat-icon>
      <span>Mi Perfil</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</ng-template>